# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Logs and system files
*.log
.DS_Store

# Output folder and all CSV files
output/
*.csv

# AWS Credentials
*.env

# Terraform local junk
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# VSCode
.vscode/
